<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="DataAccess.Contracts.Context, DataAccess" mapTo="DataAccess.SQLServer.ContextSqlServer, DataAccess" />
    <!--<register type="DataAccess.Contracts.IDataAccessVehicle, DataAccess" mapTo="DataAccess.SQLServer.DataAccessVehicle, DataAccess" />-->
    <register type="DataAccess.Contracts.IDataAccessRecord, DataAccess" mapTo="DataAccess.SQLServer.DataAccessRecord, DataAccess" />
    <register type="DataAccess.Contracts.IDataAccessRate, DataAccess" mapTo="DataAccess.SQLServer.DataAccessRate, DataAccess" />
  </container>
</unity>