<?xml version="1.0"?>
<unity xmlns="http://schemes.microsoft.com/practices/2010/unity">
  <container>
    <register type="DataAccess.Contracts.Context, DataAccess" mapTo="DataAccess.SqlServer.ContextSqlServer, DataAccess" />
    <register type="DataAccess.Contracts.IDataAccessVehicle, DataAccess" mapTo="DataAccess.SqlServer.DataAccessSqlServerVehicle, DataAccess" />
    <register type="DataAccess.Contracts.IDataAccessCell, DataAccess" mapTo="DataAccess.SqlServer.DataAccessSqlServerCell, DataAccess" />
    <register type="DataAccess.Contracts.IDataAccessRecord, DataAccess" mapTo="DataAccess.SqlServer.DataAccessSqlServerRecord, DataAccess" />
    <register type="DataAccess.Contracts.IDataAccessRate, DataAccess" mapTo="DataAccess.SqlServer.DataAccessSqlServerRate, DataAccess" />
  </container>
</unity>
